*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(rgb(15, 182, 118),white);
    background-size: cover;
    background-attachment: fixed;
}
.d{
    /* background: radial-gradient(rgb(233, 216, 240),white); */
    background-attachment: fixed;
    background-size: 100% 85%;
    background-repeat: no-repeat;
}
.weather-icon{
     margin-left: 30%;
     margin-right: 30%;
     animation: weather-icon 2s linear infinite;
}
@keyframes weather-icon{
    100%{
        transform: scale(1.1) translateX(30px);
    }
}
.app-title:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
 