*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(rgb(205, 143, 218),white);
    background-size: cover;
    background-attachment: fixed;
}
.d{
    /* background: radial-gradient(rgb(233, 216, 240),white); */
    background-attachment: fixed;
    background-size: 100% 85%;
    background-repeat: no-repeat;
}
.weather-icon{
     margin-left: 30%;
     margin-right: 30%;
}
.app-title:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}